* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  width: 300px;
  margin: 0;
  padding: 0 0 15px 0;
  background: #ffffff;
  overflow: hidden;
  color: #434a54;
  font-size: 14px;
}

.promt-to-options {
  margin: 15px;
  font-size: 17px;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 1.5s ease;
  opacity: 0.2;
}

.clear {
  clear: both;
}

h3 {
  padding: 8px 10px;
  font-size: 20px;
  background-color: #203c43;
  color: #e5e5e5;
  font-weight: 400;
}

h3 .icon-cog {
  color: #e5e5e5;
  text-decoration: none;
  float: right;
}

.phrase-input-block {
  padding: 15px 10px 0px 10px;
  position: relative;
}

.phrase-input-block .input-group {
  width: 100%;
  display: table;
  position: relative;
  border-collapse: separate;
  font-size: 16px;
}

.phrase-input-block .input-group input {
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e6eaed;
  font-weight: 400;
  padding: 0px 5px;
  position: relative;
  z-index: 4;
  display: table-cell;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.phrase-input-block .input-group input:focus {
  outline: none;
  border: 2px solid #111925;;
}

.phrase-input-block .input-group span {
  display: table-cell;
}

.phrase-input-block .input-group span button {
  position: relative;
  background-color: #203c43;
  border: 1px solid transparent;
  color: #e5e5e5;
  outline: none;
  font-weight: 400;
  height: 40px;
  width: 100%;
  min-width: 50px;
  z-index: 4;
  text-transform: uppercase;
}

.phrase-input-block .input-group span button:hover {
  background: #2e6a78;
}

.suggestions {
  width: 280px;
  border: 1px solid #ebeff2;
  border-top: none;
  margin-left: 10px;
  box-sizing: border-box;
  z-index: 2;
  list-style-type: none;
}

.suggestions li {
  padding: 9px 5px;
  border-top: 1px solid #ebeff2;
}

.suggestions li:hover {
  cursor: pointer;
  background-color: #ebeff2;
}

.suggestions li:first-child {
  border: none;
  padding-top: 15px;
}

li.active {
  font-weight: 800;
  background-color: #fafafa;
}

.from-phrase {
  margin: 15px 10px;
}

.from-phrase a {
  font-weight: 500;
  font-size: 16px;
  color: #111925;
  text-decoration: underline;
}

.from-phrase .sound {
  top: 4px;
  margin-left: 10px;
}

.sound {
  width: 20px;
  height: 20px;
  border: none;
  position: relative;
  cursor: pointer;
  background: none;
}

.sound:focus {
  outline: none;
}

.meta-translation-header {
  color: white;
  padding: 0px 10px 0px 0px;
  border-top: 5px solid #203c43;
}

.meta-translation-header span {
  text-transform: uppercase;
}

.language-block {
  font-weight: 400;
  background: #203c43;
  padding: 0px 20px 4px 20px;
  min-width: 45px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.language-block .icon-share {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.icon-export a {
  color: #434a54;
}

.translations li {
  font-size: 14px;
  padding: 5px 10px;
  clear: both;
}

.translations li:nth-child(odd) {
  background: #e6eaed;
}

.translations li button {
  display: inline-block;
  float: right;
}

.translations li a {
  display: inline-block;
  background: no-repeat;
  text-decoration: none;
  color: #434a54;
  font-weight: 400;
}

.translations li a:hover {
  text-decoration: underline;
}

.translations li .lexical {
  display: inline;
  font-size: 10px;
  margin-left: 2px;
}
